---
---
@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
a:focus{outline:none;}
h1,h2,h3,h4,h5,h6{font-family: 'Montserrat', sans-serif;}
h1{font-size:30px}
h2{font-size:25px}
h3{font-size:20px}
h4{font-size:18px}

body{
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
}

.item {
	background: #333;
	text-align: center;
	height: 400px !important;
}
.carousel {
	margin-top: 20px;
}
.share-page {
	text-align: center;
	padding: 8px 15px;
	border-radius: 5px;
 a {
 font-weight: 700;
 color: #fff;
 margin-left: 10px;
 &:hover {
 border-bottom: 1px dashed #fff;
}
}
}
/* =Margin + Padding
-------------------------------------------------------------- */
.pt5 { padding-top:5px !important; }
.pt10 { padding-top:10px !important; }
.pt15 { padding-top:15px !important; }
.pt20 { padding-top:20px !important; }
.pt30 { padding-top:30px !important; }
.pt40 { padding-top:40px !important; }
.pt50 { padding-top:50px !important; }
.pt60 { padding-top:60px !important; }
.pt80 { padding-top:80px !important; }
.pt90 { padding-top:90px !important; }
.pt100 { padding-top:100px !important; }
.pb0 { padding-bottom:0px !important; }
.pb5 { padding-bottom:5px !important; }
.pb10 { padding-bottom:10px !important; }
.pb15 { padding-bottom:15px !important; }
.pb20 { padding-bottom:20px !important; }
.pb30 { padding-bottom:30px !important; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px !important; }
.pb60 { padding-bottom:60px !important; }
.pb80 { padding-bottom:80px !important; }
.pb90 { padding-bottom:90px !important; }
.pb100 { padding-bottom:100px !important; }

.mt1 { margin-top:1px !important; }
.mt5 { margin-top:5px !important; }
.mt10 { margin-top:10px !important; }
.mt15 { margin-top:15px !important; }
.mt20 { margin-top:20px !important; }
.mt30 { margin-top:30px !important; }
.mt40 { margin-top:40px !important; }
.mt50 { margin-top:50px !important; }
.mt60 { margin-top:60px !important; }
.mt80 { margin-top:80px !important; }
.mt90 { margin-top:90px !important; }
.mt100 { margin-top:100px !important; }
.mb0 { margin-bottom:0 !important; }
.mb5 { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb15 { margin-bottom:15px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }
.mb50 { margin-bottom:50px !important; }
.mb60 { margin-bottom:60px !important; }
.mb80 { margin-bottom:80px !important; }
.mb90 { margin-bottom:90px !important; }
.mb100 { margin-bottom:100px !important; }

.ml30 { margin-left: 30px }
.mr30 { margin-right: 30px }
.ml15 { margin-left: 15px }
.mr15 { margin-right: 15px }
.mr5 { margin-right: 5px }
.mr10 { margin-right: 15px }
.pl30 { padding-left: 30px }
.pr30 { padding-right: 30px }
.pl5 { padding-left: 5px }
.pr5 { padding-right: 5px }
.pl10 { padding-left: 10px }
.pr10 { padding-right: 10px }
.pl15 { padding-left: 15px }
.pr15 { padding-right: 15px }

.no-margin { margin:0 !important; }
.no-padding { padding:0 !important; }
.no-margin-top { margin-top:0 !important; }
.no-padding-top { padding-top:0 !important; }
.no-margin-bottom { margin-bottom:0 !important; }
.no-padding-bottom { padding-bottom:0 !important; }
/*//////////////////////////////////////////////
			Header Style
////////////////////////////////////////////// */
.mincoin-header{
	padding:10px 0px;
	margin-bottom:0px;
	.navbar-brand{
		padding: 10px 0;
		margin: 0;
		height: 60px;
		width: 100px;
	}
	
	span{
		display:inline-block;
		padding: 10px 0;
		margin-top:10px;
		font-size:14px;
	}
	

}
.langs-dropdown{
	margin-top:5px;
	.nav>li>a{
		background:#000;
		color:#fff;
	}	
	.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
		background:#197dab;
		color:#fff;
	}	
}
.social-icon{
		margin-top:18px;
		ul{
			padding:0px;
			li{
				list-style:none;
				display:inline-block;
				width:30px; 
				height:30px;
				a{
					border:1px solid #000;
					border-radius:50%;
					text-align:center;
					line-height:24px;
					width:24px;
					height:24px;
					font-size:12px;
					display:block;
				}
			}
		}
		&.footer{
			ul li {
				width:80px; 
				height:80px;
				a{
					font-size:30px;
					color:#fff;
					width:50px; 
					height:50px;
					border:1px solid #fff;
					line-height:50px;
				}
			}
		}
	}
.banner{
	background:url(/images/binary-blue-gif.gif);
	background-size:cover;
	padding: 5% 0;
    background-position: center;
    background-size: cover;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    position: relative;
	text-align:center;
	color:#fff;
	position:relative;
	text-shadow:2px 2px 2px rgba(0,0,0,0.2);	
	
	&:after {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: .82;
		background: #003a4c;
		background: -moz-linear-gradient(left,#003a4c 0,#287eff 100%);
		background: -webkit-linear-gradient(left,#003a4c 0,#287eff 100%);
		background: linear-gradient(to right,#003a4c 0,#287eff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a4c',endColorstr='#287eff',GradientType=1);
	}
	h1{
		font-size: 5.7rem;
		margin: 0 auto;
		color:#fff;
		/*width:77%;	*/
		z-index:2;	
		position:relative;
		font-weight:700;
		margin-bottom:10px;
		line-height:1.4em;
	}
	h2{
		font-size: 30px;
		margin: 0 auto;
		color:#fff;
		z-index:2;
		position:relative;
		font-weight:600;
		margin-bottom:15px;
	}
	h3{
		font-size: 22.4px;
		z-index:2;
		position:relative;
		font-weight: 700;
		line-height: 1.5em;
		margin-bottom: 50px;

	}
	p{
		z-index:2;
		position:relative;
	}
	a button{
		background: #2a2b33;
		border: 0;
		border-radius: 5px;
		color: #fff;
		cursor: pointer;
		font-family: Montserrat,Helvetica,sans-serif;
		font-weight: 600;
		font-size: 13.12px;
		text-transform: uppercase;
		padding: 1em 3em;
		text-decoration: none;
		white-space: nowrap;
		display: inline-block;
		width: auto;
		box-shadow: inset 0 0 0 999px rgba(255,255,255,0);
		position:relative;
	}
}
.section{
	padding:100px 0px;
}
.download-widget{
	background-color: rgba(0, 0, 0, 0.0382);
	h6{
		font-size: 17.6px;
		font-weight: 700;
	}
	p{
		font-weight: 700;
		margin-bottom:10px;	
	}
}

.gradient{
	background: #2a2b33;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,Helvetica,sans-serif;
    font-weight: 600;
    font-size: 13.12px;
    text-transform: uppercase;
    padding: 1em 3em;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    width: auto;
    box-shadow: inset 0 0 0 999px rgba(255,255,255,0);
    background: #003a4c;
    background: -moz-linear-gradient(left,#003a4c 0,#287eff 100%);
    background: -webkit-linear-gradient(left,#003a4c 0,#287eff 100%);
    background: linear-gradient(to right,#003a4c 0,#287eff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a4c',endColorstr='#287eff',GradientType=1);
}

.contact-team{
	background-color: #2a2b33;
	color:#fff;
}



.navbar{border-radius:0px;}

.meta-info {
	color:#8F8F8F;
	margin-bottom:10px;
	font-size:12px;
	.meta{
		display:inline-block; 
		margin-right:10px;
		
		time{
			i{margin-right:5px;}
		}
	}
	.tags{
		display:inline-block;
		i{margin-right:5px;}
	}
}

.tag-list{margin-right:3px;}
.panel-heading h4{margin:0px;}
.cat-list{
	padding:0px 4px;
	li{list-style:none}
} 

.navbar-brand {
	font-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
	color:#e5493a !important;
	font-size:22px;
}
/*//////////////////////////////////////////////
			NEWS Style
////////////////////////////////////////////// */
.page-title{
	font-size: 32px;
    text-align: center;
    display: block;
    clear: both;
	&:after{
		content: " ";
		display: block;
		width: 100px;
		height: 3px;
		display: block;
		margin: 25px auto;
		margin: 2.5rem auto;
		background: #3d65ff;
		background: -webkit-linear-gradient(left,#7a28ff 0,#00a1ff 100%);
		background: linear-gradient(to right,#7a28ff 0,#00a1ff 100%);
	}
}
.news-list{
	margin:0px;
	padding:0px;
	li{
		list-style:none;
		overflow:hidden;
		.news-img{			
			margin:0px 24px 24px 0px;
			float:left;	
			max-width: 100%;
			display: block;
			img{
				border-radius: 6px;
				width: 100px;
				height: 100px;
				max-width: 100%;
			}    
		}
		h4{
			font-size: 18px;
			margin-bottom: 0;
			line-height: 1;
			width: 100%;
			margin: 0 0 1rem;
			color: #2a2b33;
			a{
				color: #2a2b33;
				text-decoration: none;
				font-weight: 700;
			}
		}
	}
	&.font-sm{
		h4 a{font-size:14px;}
	}
}
.community-tools{
	background-color: rgba(0,0,0,.0382);
	.col-links{
		h3{font-size: 17px; font-weight:700; margin-bottom:15px;}
		.news-list li{margin-bottom:10px;}
		.icon{
		width: 1.5em;
		color: #3d65ff;
		background: -webkit-linear-gradient(#673cf2,#1694ff);
		background: linear-gradient(#673cf2,#1694ff);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
		font-size:50px;
	}
	}
	
}

.before-footer {
    background:url(/images/binary-blue-gif.gif);	
	background-size:cover;
	padding: 5% 0;
    background-position: center;
    background-size: cover;
	position:relative;
	height:200px;
	&:after {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: .82;
		background: #003a4c;
		background: -moz-linear-gradient(left,#003a4c 0,#287eff 100%);
		background: -webkit-linear-gradient(left,#003a4c 0,#287eff 100%);
		background: linear-gradient(to right,#003a4c 0,#287eff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a4c',endColorstr='#287eff',GradientType=1);
	}
}
footer{
	background-color: #2a2b33;
    line-height: 1.382;
    font-size: 16px;
    margin-bottom: -1px;
    z-index: 1;
    position: relative;
	padding:80px 0px 50px;
	
	h3{
		font-size: 17.6px;
		margin-bottom: 1.382em;
		display: block;
		color: #e6e6e6;
	}
	p a{    
		color: #ccc;
		&:hover{
			color: #fff;
			text-decoration:underline;
		}
	}
	.copyright{
		color: #b3b3b3;
		padding-top:30px; 
		padding-bottom:30px; 
		font-size:13px;
	}
}
.icon6-widget{
	font-size:13px;
	color:#777;
	.widget-col{
		margin-top:20px;
		font-weight:500;
		line-height:1.7em;
		min-height:355px;
		
		ul{
			padding:0px;
			li{
				list-style:none;
			}
		}
	}
	h4{
		font-weight:600;
		color:#2a2b33;
	}

}

.page,
.post {
  margin-bottom: 4em;
  margin-top:4em;

  li + li {
    margin-top: .25rem;
  }
  
  img{
      display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px;
	}
}

/* Blog post or page title*/
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title*/
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size:13px;
}


/* Related posts*/
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      color: #999;
    }

    a:hover {
      color: #268bd2;
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}



.pagination {
  overflow: hidden; // clearfix
  margin: 0 -1.5rem 1rem;
  color: #ccc;
  text-align: center;
}


.pagination-item {
  display: block;
  padding: 1rem;
  border: solid #eee;
  border-width: 1px 0;

  &:first-child {
    margin-bottom: -1px;
  }
}


a.pagination-item:hover {
  background-color: #f5f5f5;
}
.blog-list{
	margin-bottom:30px;
	&:last-child{margin-bottom:0px;}
	
	a:hover{
				text-decoration:underline;
			} 
	.published{
		font-size:13px;
		color:#2a2b33;
	}
	.more-link{
		color:#2a2b33;
		font-weight:600;
	}
	.post-title{
		font-weight:600;
		margin-bottom:1rem;
		a{
			color:#2a2b33;
			&:hover{
				text-decoration:underline;
			}
			
		}
	}
	.post-description{
		font-size:16px;
		color: #85889b;
		line-height:1.6em;
	}
}

/******************************************************************************************
					MEDIA QUERY LAYOUT STRUCTURE
				
@media (max-width: 767px) {XS DEVICE- EXTRA small:  for Mobile and Tablet}				
@media (min-width: 768px) and (max-width: 991px) {SMALL DEVICE- iPad Protlat and old Desktop view}
@media (min-width: 992px) and (max-width: 1199px) {MEDIUM DEVICE- iPad Landscap and large Desktop view}
@media (min-width: 1200px) {LARGE DEVICE- Projector EXTRA large Desktop view}other-services
				
/******************************************************************************************/

@media (max-width: 767px) {
	.section {
		padding: 50px 0px;
	}
	.banner h1{
		font-size:3rem;
	}
	.banner h2{
		font-size:20px;
	}
	.banner p img{max-width:100%;	}
	.banner h3{font-size:18px;}
	.contact-team{text-align:center !important;}
	.btnmore {float:none!important; display:inline-block; margin-bottom:30px;}
	.order-container{
		-ms-box-orient: horizontal;
		  display: -webkit-box;
		  display: -moz-box;
		  display: -ms-flexbox;
		  display: -moz-flex;
		  display: -webkit-flex;
		  display: flex;
		  
		  -webkit-flex-flow: row wrap;
		  flex-flow: row wrap;
		  
		  .order-xs-1 { order: 2; margin-top:15px; }
		  .order-xs-2{ order: 1; }
	
	}
	.langs-dropdown{margin-right:10px !important}

}		

@media (min-width: 768px) and (max-width: 991px) {
	.banner h1{
		font-size:3rem;
	}
	.banner h2{
		font-size:20px;
	}
	.banner p img{max-width:100%;	}
	.banner h3{font-size:18px;}
	
	.download-widget.section{
		h6{
			font-size:15px;
		}
		p{
			font-size:14px;
		}
		.gradient{
			padding:1rem;
			font-size:12px;
		}
	}
	.contact-team{text-align:center;}
}

@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }

  .pagination-item {
    float: left;
    width: 50%;
    border-width: 1px;

    &:first-child {
      margin-bottom: 0;
      border-top-left-radius:    4px;
      border-bottom-left-radius: 4px;
    }
    &:last-child {
      margin-left: -1px;
      border-top-right-radius:    4px;
      border-bottom-right-radius: 4px;
    }
  }
}
