---
layout: post
title : "Roadmap"
pagination:
  enabled: true
  categories: Roadmap
  permalink: /:num/
  trail:
    before: 2 # The number of links before the current page
    after: 2  # The number of links after the current page
---

  <div class="container">
    <div class="block-wrapper inner-content" >
		<div id="roadmap" class="row">
			
			<div class="col-12 text-center">
				<nav class="navbar navbar-default">
					<ul class="nav navbar-nav" style="width: 100%; text-align: center;">
						<li style="float: none; display: inline-block;">
							<a href="#section1">2017</a>
						</li>
						<li style="float: none; display: inline-block;">
							<a href="#section2">2018</a>
						</li>
						<li style="float: none; display: inline-block;">
							<a href="#section3">2019</a>
						</li>
						<li style="float: none; display: inline-block;">
							<a href="#section4">2020</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>	
								
		<div class="row">
			<div id="roadmap-detail" class="container-fluid" style="padding-top:30px;padding-bottom:30px">
				<ul class="timeline">
					<li>
						<div id="section1" class="direction-r" style="padding-top:30px;padding-bottom:30px">
							<div class="flag-wrapper">
								<span class="flag">2017</span>
							</div>
							<div class="desc">DNS Seeds Restored
								<span class="time-wrapper">Q2</span>
							</div>
							<div class="desc">Block Explorers Online
								<span class="time-wrapper">Q2</span>
							</div>
							<div class="desc">Testnet3 Restored
								<span class="time-wrapper">Q3</span>
							</div>
							<div class="desc">Tor Transports Enabled
								<span class="time-wrapper">Q3</span>
							</div>
							<div class="desc">Forums Upgraded
								<span class="time-wrapper">Q3</span>
							</div>
							<div class="desc">Blockchain upgraded to 0.8.8
								<span class="time-wrapper">Q3</span>
							</div>
							<div class="desc">Coinbase Maturity Hard Fork - height 1452840 at 1506587637
								<span class="time-wrapper">Q3</span>
							</div>
							<div class="desc">Splash Guard Hard Fork - height 1452840 at 1506587637
								<span class="time-wrapper">Q4</span>
							</div>
							<div class="desc">Trade Satoshi Market Opens
								<span class="time-wrapper">Q4</span>
							</div>
							<div class="desc">CoinMarketCap Data Refreshed
								<span class="time-wrapper">Q4</span>
							</div>
							<div class="desc">CryptoBetFair Games Opened
								<span class="time-wrapper">Q4</span>
							</div>
							<div class="desc">Whitepaper Refreshed
								<span class="time-wrapper">Q4</span>
							</div>
						</div>
					</li>
					<li>
						<div id="section2" class="direction-l" style="padding-top:30px;padding-bottom:30px">
							<div class="flag-wrapper">
								<span class="flag">2018</span>
							</div>
							<div class="desc">Blockfolio Price Tracking
								<span class="time-wrapper">Q1</span>
							</div>
							<div class="desc">TipBot added to the Discord server
								<span class="time-wrapper">Q1</span>
							</div>
							<div class="desc">mincoinfaucet.com goes online / then offline with CryptoHub
								<span class="time-wrapper">Q2</span>
							</div>
							<div class="desc">
								<a href='https://www.mincoin.us' target='_blank'>www.mincoin.us</a> upgraded
								<span class="time-wrapper">Q2</span>
							</div>
							<div class="desc">Testnet3 upgraded to SegWit - active at height 80639 at 1538723232
								<span class="time-wrapper">Q2</span>
							</div>
							<div class="desc">Home grown Block Explorer 
								<a href='https://www.mincoinexplorer.com' target='_blank'>www.mincoinexplorer.com</a> goes online
								<span class="time-wrapper">Q4</span>
							</div>
							<div class="desc">Blockchain upgraded to 0.13.0 - active at height 2116799, 1547332940
								<span class="time-wrapper">Q4</span>
							</div>
							<div class="desc">(Strict DER Signatures) BIP 66 softfork Activated
								<span class="time-wrapper">Q4</span>
							</div>
							<div class="desc">(OP_CHECKLOCKTIMEVERIFY) BIP 65 softfork Activated
								<span class="time-wrapper">Q4</span>
							</div>
							<div class="desc">(CSV) BIP 68 / BIP 112 / BIP 113 softfork Activated
								<span class="time-wrapper">Q4</span>
							</div>
						</div>
					</li>
					<li>
						<div id="section3" class="direction-r" style="padding-top:30px;padding-bottom:30px">
							<div class="flag-wrapper">
								<span class="flag">2019</span>
							</div>
							<div class="desc">Look to adding additional Exchanges
								<span class="time-wrapper">Q1</span>
							</div>
							<div class="desc">Upgraded Testnet4 to 0.14.3
								<span class="time-wrapper">Q2</span>
							</div>
							<div class="desc">Added Testnet to Block Explorer 
								<a href='https://testnet.mincoinexplorer.com' target='_blank'>testnet.mincoinexplorer.com</a>
								<span class="time-wrapper">Q2</span>
							</div>
							<div class="desc">Added Nova Exchange with BTC/MNC, LTC/MNC pairings
								<span class="time-wrapper">Q2</span>
							</div>
							<div class="desc">Started Android Wallet development
								<span class="time-wrapper">Q2</span>
							</div>
							<div class="desc">Remastered Hi-Res Logos 
								<span class="time-wrapper">Q2</span>
							</div>
							<div class="desc">Added Special Difficulty Rule to Testnet4 
								<span class="time-wrapper">Q2</span>
							</div>
							<div class="desc">Added Unnamed Exchange with BTC/MNC, LTC/MNC, DOGE/MNC pairings
								<span class="time-wrapper">Q3</span>
							</div>
							<div class="desc">Released Android Wallet on Google Play Store
								<a href='https://play.google.com/store/apps/details?id=de.schildbach.mincoin_wallet&hl=en' target='_blank'>play.google.com</a>
								<span class="time-wrapper">Q3</span>
							</div>
							<div class="desc">Upgraded Blockchain to 0.14.3
								<span class="time-wrapper">Q3</span>
							</div>
							<div class="desc">Activate blockchain SegWit
								<span class="time-wrapper">Q4</span>
							</div>
							<div class="desc">Upgrade Testnet4 to latest stable Bitcoin Core
								<span class="time-wrapper">Q4</span>
							</div>
							<div class="desc">Start Social Media awareness campaign
								<span class="time-wrapper">Q4</span>
							</div>
						</div>
					</li>
					<li>
						<div id="section4" class="direction-l" style="padding-top:30px;padding-bottom:30px">
							<div class="flag-wrapper">
								<span class="flag">2020</span>
							</div>
							<div class="desc">Upgrade blockchain to latest stable Bitcoin Core
								<span class="time-wrapper">Q2</span>
							</div>
						</div>
					</li>
				</ul>
			</div>


		</div>
      </div>
    </div>
    <!-- pagination -->
	<!--<div class="text-center">
	 <div class="clearfix"></div>
           <ul class="pager hide {% if page.pageShow == "true"  %} show {% endif %} "  >
            {% if page.previous.url != " " %}
            <li class="previous"><a href="{{page.previous.url}}">← Pre</a></li>
            {% endif %}
            {% if page.next.url != " " %}
            <li class="next"><a href="{{page.next.url}}">Next →</a></li>
            {% endif %}
          </ul>


	{% if paginator.total_pages > 1 %}


	<ul class="pager" >
	  {% if paginator.previous_page %}
	  <li class="previous">
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
	  </li>
	  {% endif %}
	  {% if paginator.next_page %}
	  <li class="next">
		<a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
	  </li>
	  {% endif %}
	</ul>
	{% endif %}
    </div>-->



